<div class="information-container">
  <div class="information-section">
    <h2 class="information-section-title">Politica de Confidențialitate</h2>
    <p>Romcast Expert se angajează să protejeze confidențialitatea și securitatea informațiilor dumneavoastră personale. Această politică explică modul în care colectăm, utilizăm și protejăm informațiile pe care le furnizați atunci când utilizați site-ul nostru.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Colectarea Informațiilor</h2>
    <p>Colectăm informații personale atunci când efectuați o comandă sau vă înregistrați pe site-ul nostru. Aceste informații includ, dar nu se limitează la, numele, adresa de e-mail, adresa de livrare și detaliile plății.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Cum Utilizăm Informațiile</h2>
    <p>Informațiile colectate sunt folosite pentru a procesa comenzile, pentru a îmbunătăți serviciile noastre și pentru a vă oferi oferte și promoții personalizate. Nu vom vinde sau închiria informațiile dumneavoastră personale terților.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Siguranța Informațiilor</h2>
    <p>Ne angajăm să protejăm informațiile dumneavoastră prin utilizarea unor măsuri de securitate adecvate. Acestea includ criptarea datelor și protecția prin parolă a conturilor. Cu toate acestea, vă rugăm să rețineți că niciun sistem de securitate nu este perfect.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Cookie-uri</h2>
    <p>Utilizăm cookie-uri pentru a îmbunătăți experiența utilizatorilor pe site-ul nostru. Acestea ne ajută să personalizăm conținutul și să analizăm traficul pe site. Puteți să refuzați utilizarea cookie-urilor prin setările browser-ului dumneavoastră.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Drepturile Dumneavoastră</h2>
    <p>Conform legislației aplicabile, aveți dreptul să accesați, să corectați sau să solicitați ștergerea informațiilor dumneavoastră personale. Pentru a exercita aceste drepturi, vă rugăm să ne contactați prin intermediul formularului de contact de pe site-ul nostru.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Modificări ale Politicii de Confidențialitate</h2>
    <p>Ne rezervăm dreptul de a modifica această politică de confidențialitate oricând. Orice modificare va fi publicată pe această pagină, iar data modificării va fi actualizată în partea de jos a acesteia.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Contact</h2>
    <p>Dacă aveți întrebări sau nelămuriri cu privire la politica noastră de confidențialitate, nu ezitați să ne contactați la adresa de email: <a href="mailto:contact@romcastexpert.ro">contact&#64;romcastexpert.ro</a>.</p>
  </div>
</div>
