<div class="information-container">
  <div class="information-section">
    <h2 class="information-section-title">Despre Noi</h2>
    <p>Romcast Expert este un furnizor de vopsele auto de calitate superioară, dedicat satisfacerii nevoilor clienților noștri prin produse de înaltă performanță. Oferim soluții inovative pentru reparații auto și îmbunătățiri estetice, oferind suport pentru fiecare pas al procesului de vopsire.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Produsele Noastre</h2>
    <p>Produsele noastre includ vopsele auto de diverse tipuri, diluanți, lacuri și alte accesorii necesare pentru a obține rezultate de calitate în fiecare proiect. Toate produsele sunt testate riguros pentru a asigura performanța și durabilitatea acestora.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Termeni și Condiții</h2>
    <p>Vă rugăm să consultați pagina noastră cu <a routerLink ="/termeni-conditii" routerLinkActive="active"> termenii și condițiile</a> pentru mai multe informații despre utilizarea serviciilor noastre, politici de returnare și detalii referitoare la livrări.</p>
  </div>

  <div class="information-section">
    <h2 class="information-section-title">Contact</h2>
    <p>Pentru orice întrebări sau asistență, nu ezitați să ne contactați. Puteți să ne scrieți prin intermediul formularului de contact de pe site-ul nostru sau la adresa de email: <a href="mailto:contact@romcastexpert.ro">contact&#64;romcastexpert.ro</a>.</p>
  </div>
</div>
